<div class="comments">
    <h3>{{ site.data.translations['commentsHeader'][page.lang] }}</h3>
    <!-- Add nesting Liquid Tags. Refer to variable in Liquid array declaration. -->
    {% assign comments = site.data.comments.[page.lang-ref] | sort %}
    {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
    <article class="comment">
        <h4 class="comment-name">{{ commentData.name }}</h4>
        <p class="comment-time">{{ commentData.date | date: "%b %d, %Y %H:%M:%S" }}</p>
        <div class="comment-msg">
            {{ commentData.message | markdownify }}
        </div>
    </article>
    {% endfor %}
</div>