
<main class="cf mw9 center ph3-ns">
    <div class="fl w-100 w-50-ns aspect-ratio aspect-ratio--16x9 pr3">
        <div class="">
            <iframe src="https://www.youtube-nocookie.com/embed/4ldjHph6iKM" class="aspect-ratio--object " frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="fl w-100 w-50-ns aspect-ratio aspect-ratio--16x9 pl3">
        <div class="">
            <iframe src="https://www.youtube-nocookie.com/embed/4ldjHph6iKM" class="aspect-ratio--object pl2-ns pt2 pt0-ns" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        </div>
</main>



