<main class="cf ">
    <!-- Kolom 1 -->
    <div class="fl w-100 w-third-m w-50-l ph2">
        <div class="aspect-ratio aspect-ratio--6x4">
            <iframe src="https://drive.google.com/file/d/1CuyImUobRYgVsLCnZj7XqVLyXiVe-yMI/preview" class=" aspect-ratio--object db"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div><center>Immix Vocal Ensemble: When we don't see</center>
        <div class="h1"></div>
        <div class="aspect-ratio aspect-ratio--6x4">
            <iframe src="https://www.youtube-nocookie.com/embed/XVhI_qbv0gg" class=" aspect-ratio--object db"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="h1"></div>
        <div class="aspect-ratio aspect-ratio--6x4">
            <iframe src="https://www.youtube-nocookie.com/embed/Ew5_7Jc92u8" class=" aspect-ratio--object db"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="h1"></div>
    </div>
    <!-- Kolom 2 -->
    <div class="fl w-100 w-50-ns ph2">
        <a href="/images/Media/210625_NKKNXT_Bloom_LindeDorenbos_HiRes-0044.jpg" class="db no-underline black grow"><img class="db w-100" src="/images/Media/210625_NKKNXT_Bloom_LindeDorenbos_HiRes-0044.jpg"></a><figcaption class="tr f7">Linde Dorenbos</figcaption>
        <div class="h1"></div>
        <a href="/images/Media/210625_NKKNXT_Bloom_LindeDorenbos_HiRes-0064.jpg" class="db no-underline black grow"><img class="db w-100" src="/images/Media/210625_NKKNXT_Bloom_LindeDorenbos_HiRes-0064.jpg"></a><figcaption class="tr f7">Linde Dorenbos</figcaption>
        <div class="h1"></div>
        <a href="/images/Media/210625_NKKNXT_Bloom_LindeDorenbos_HiRes-0242.jpg" class="db no-underline black grow"><img class="db w-100" src="/images/Media/210625_NKKNXT_Bloom_LindeDorenbos_HiRes-0242.jpg"></a><figcaption class="tr f7">Linde Dorenbos</figcaption>
        <div class="h1"></div>
        <a href="/images/Media/BLVRD2021_BLOOM_HLR©JeanPhilipse-1.jpg" class="db no-underline black grow"><img class="db w-100" src="/images/Media/BLVRD2021_BLOOM_HLR©JeanPhilipse-1.jpg"></a><figcaption class="tr f7">Jean Philipse</figcaption>
        <div class="h1"></div>
    </div>
    <!-- Kolom 3 -->
    <!-- <div class="fl w-100 w-third-m w-25-l ph2"> -->
        <!-- <div class="aspect-ratio aspect-ratio--6x4">
            <iframe src="https://www.youtube-nocookie.com/embed/4ldjHph6iKM" class=" aspect-ratio--object db"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> -->
        <!-- <a href="/images/Aeson/MG_9127.jpg" class="db no-underline black grow"><img class="db w-100" src="/images/Aeson/MG_9127.jpg"></a><figcaption class="tc">Eason Lam photography</figcaption>
        <div class="h1"></div> -->
        <!-- <div class="h1"></div> -->
        <!-- <div class="aspect-ratio aspect-ratio--6x4">
            <iframe src="https://www.youtube-nocookie.com/embed/4ldjHph6iKM" class=" aspect-ratio--object db"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> -->
        <!-- <a href="/images/Aeson/MG_9127.jpg" class="db no-underline black grow"><img class="db w-100" src="/images/Aeson/MG_9127.jpg"></a><figcaption class="tc">Eason Lam photography</figcaption>
        <!-- <div class="h1"></div> -->
        <!-- <div class="h1"></div>
        <a href="/images/Aeson/MG_9127.jpg" class="db no-underline black grow"><img class="db w-100" src="/images/Aeson/MG_9127.jpg"></a><figcaption class="tc">Eason Lam photography</figcaption>
        <div class="h1"></div>
    </div> --> 
</main>