<!-- Achtergrondfoto neerzetten-->
<div class="cover bg-left bg-center-l" style="background-image: url({{ page.bgphoto }})">




<!-- Language flags -->
<nav class="z-max dt w-100 border-box ph1 ph5-l ph5-m bg-black-30" aria-label="Main Navigation">
    
    <!-- Hier het navmenu -->
    <div class="dtc v-mid w-90-l w-80 tr">
      <ul class="ph0">
        
        <li class="dropdown link  dark-gray f6 f5-l dib mr1 mr4-m mr4-l">
          <!-- aria-expanded needs managed with Javascript -->
          <button type="button" class="dropdown__title dib link  white hover-immix-marigold" aria-expanded="false" aria-controls="sweets-dropdown">
            About
          </button>
          <ul class="dropdown__menu bg-black-30 tc" id="sweets-dropdown">
            <li><a href="/{{page.lang}}/bio" class="no-underline white hover-immix-marigold">Immix</a></li>
            <li><a href="#" class="no-underline white hover-immix-rust">Bloom</a></li>
            <li><a href="#" class="no-underline white hover-immix-desertmist">Wende</a></li>
            <li><a href="#" class="no-underline white hover-immix-greenash">Blog</a></li>
          </ul>
        </li>

        <li class="link f6 f5-l dib mr1 mr4-m mr4-l"><a href="/{{page.lang}}/media" class="link  white hover-immix-cerulean">Media</a></li>

        <li class="link  f6 f5-l dib mr1 mr4-m mr4-l"><a href="/{{page.lang}}/concertagenda" class="link  white hover-immix-illuminating">{{ site.data.translations['agendaNav'][page.lang] }}</a></li>

        <li class="link  f6 f5-l dib mr1 mr4-m mr4-l"><a href="/{{page.lang}}/contact" class="link white hover-immix-greenash">{{ site.data.translations['contactNav'][page.lang] }}</a></li>

        </ul>
      <!-- Einde navmenu -->

    </div>
    <!-- Hier taalvlaggetjes (rechts) -->
    <div class="dtc v-mid ">
      {% if page.layout != 'tagpage' %}
      {% if page.layout != 'index' %}
      {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
      {% if posts.size == 0 %}
      {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
      {% endif %}
      {% if posts.size > 1 %}
      <div class="f3 ">

        {% for post in posts %}
        <a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[post.lang].label }}"
          class="{{post.lang}} white no-underline grow dim"
          href="{{ site.base-url }}{{ post.url }}">{{ site.data.languages[post.lang].icon }}
        </a>
        {% endfor %}
        {% endif %}
      </div>

      {% endif %}
      {% endif %}
    </div>
    <!-- Einde taalvlaggetjes -->
  <!-- </div> -->
</nav>
<!-- End of language flags -->

<!-- Div waar de navbar in komt, met vertical height 75 om foto ruimte te geven. -->
<div class="dt {{ page.phototexthoralign }} {{ page.bgphotovertsize }}">

<h1 class="{{ page.phototextonoroff }} w-100 f1 f-headline-l fw2 white {{ page.phototextveralign }}">
  <!-- Ding omhoog/omlaag: style="position:relative; top:200px;" -->
  {% if is_post %}
  {% endif %}
  {{ page.bgphototext }}
</h1>
</div>

<!-- Tekst bovenop foto-->

<!-- Eind tekst -->

</div>

<!-- <nav class="z-max" aria-label="Main Navigation">
  <ul>
    <li><a href="#" class="">About</a></li>
    <li class="dropdown"> -->

      <!-- aria-expanded needs managed with Javascript -->

      <!-- <button type="button" class="dropdown__title dib " aria-expanded="false" aria-controls="sweets-dropdown">
        Sweets
      </button>
      <ul class="dropdown__menu" id="sweets-dropdown">
        <li><a href="#">Donuts</a></li>
        <li><a href="#">Cupcakes</a></li>
        <li><a href="#">Chocolate</a></li>
        <li><a href="#">Bonbons</a></li>
      </ul>
    </li>
    <li><a href="#">Order</a></li> -->

    <!-- Language flags -->
<div class="cf">
    
</div>


    <!-- End of languge flags -->

  <!-- </ul>
</nav> -->

<!-- <nav class="w-100 dwyl-bg-dark-gray tc white relative fixed">
  <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
  <label for="burger" class="dn-ns pointer absolute top-1 right-1">
    <i class="fa fa-bars white dib f2"></i>
  </label>
  <ul class="overflow-hidden menu db-ns w-100 list tc pl0 pt3 mv0 f3 fw3 f5-ns">
    <li class="absolute top-1 static-ns ph4 mh2 fw3 di-ns pt1 pb3 pv3-ns">
      <a href="/" class="white link">
        <img src="./img/common/dwyl-heart-only-logo.png" alt="dwyl logo" class="w1"/>
        dwyl
      </a>
    </li>
    <li class="ph5 pt5 pb2 tl dn-ns"><a href="/" class="white link">Home</a></li>
    <li class="ph5 di-ns pv2 tl pv0-ns"><a href="/portfolio" class="white link">Portfolio</a></li>
    <li class="ph5 di-ns pv2 tl pv0-ns"><a href="/values" class="white link">Values</a></li>
    <li class="ph5 di-ns pv2 tl pv0-ns"><a href="/team" class="white link">Team</a></li>
    <li class="ph5 di-ns pv2 tl pv0-ns"><a href="/app" class="white link">App
      <span class="dwyl-bg-gold pa1 br2 f7">BETA</span></a></li>
    <li class="ph5 di-ns pv2 tl pv0-ns"><a href="/blog" class="dwyl-mint link">Blog</a></li>
    <li class="ph5 di-ns pt2 pb3 tl pv0-ns"><a href="/#contact" class="white link">Contact</a></li>
  </ul>
</nav> -->


