<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/">
    Home
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/concertagenda">
    Concertagenda
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/bio">
    Bio
</a>
       
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/zangles">
     Zangles
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/media">
    Media
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/contact">
    Contact
</a>

<ul id="navigation">
	<li><a href="/" class="first">Home</a></li>
	<li><a href="/concertagenda">Concertagenda</a></li>
	<li><a href="/bio" class="first">Bio</a></li>
	<li><a href="/zangles" class="first">Zangles</a></li>
		<ul>
			<li><a href="/zangles#Tarieven-en-voorwaarden">Tarieven en voorwaarden</a></li>
		</ul>
	</li>
	<li><a href="/media" class="first">Media</a></li>
	<li><a href="/ensembles" class="first">Ensembles</a></li>
		<ul>
			<li><a href="/ensembles/enm.md">Ensemble Nieuwe Muziek</a></li>
			<li><a href="/ensembles/cantorex.md">Cantorex</a></li>
		</ul>
	<li><a href="/contact" class="first">Contact</a></li>
</ul>

<body>
<nav id="nav">
    <ul id="navigation">
        <li><a href="#" class="first">Home</a></li>
        <li><a href="#">Services &raquo;</a>
            <ul>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Logo Design</a></li>
                <li><a href="#">Identity & Branding &raquo;</a>
                    <ul>
                        <li><a href="#">Business Cards</a></li>
                        <li><a href="#">Brochures</a></li>
                        <li><a href="#">Envelopes</a></li>
                        <li><a href="#">Flyers</a></li>
                    </ul>
                </li>
                <li><a href="#">Wordpress</a></li>
            </ul>
        </li>
        <li><a href="#">Portfolio &raquo;</a>
            <ul>
                <li><a href="#">Graphic Design</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Calligraphy</a></li>
                <li><a href="#">Film &raquo;</a>
                    <ul>
                        <li><a href="#">John Carter</a></li>
                        <li><a href="#">The Avengers</a></li>
                        <li><a href="#">The Amazing SpiderMan</a></li>
                        <li><a href="#">Madagascar 3</a></li>
                    </ul>
                </li>
                <li><a href="#">Graffity </a></li>
            </ul>
        </li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#" class="last">Contact</a></li>
    </ul>
</nav>
 
</body>
</html>
