<!-- Bron: https://w3bits.com/css-responsive-nav-menu/ -->

<!-- 
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/">
    Home
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/concertagenda">
    Concertagenda
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/bio">
    Bio
</a>
       
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/zangles">
     Zangles
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/media">
    Media
</a>
        
<a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
    href="/contact">
    Contact
</a> -->


<nav id="menu">
  <label for="tm" id="toggle-menu">Menu<span class="drop-icon">▾</span></label>
  <input type="checkbox" id="tm">
  <ul class="main-menu clearfix">
    <li><a href="/">Home</a></li>
    
    <li><a href="/concertagenda">Concertagenda</a></li>
    
    <li><a href="/bio">Over Sebastiaan
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
      </a>
      <input type="checkbox" id="sm1">
      <ul class="sub-menu">
        <li>
			<a href="/ensembles">Ensembles
            <span class="drop-icon">▾</span>
            <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
          </a>
          <input type="checkbox" id="sm2">
          <ul class="sub-menu">
            <li><a href="/ensembles/enm.md">Ensemble Nieuwe Muziek</a></li>
            <li><a href="/ensembles/cantorex.md">Cantorex</a></li>
          </ul>
          <li><a href="/media">Media</a></li>  
        </li>
      </ul>
    </li>
    
    <li><a href="/bio">Zangles
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
      </a>
      <input type="checkbox" id="sm1">
      <ul class="sub-menu">
        <li>
			<li><a href="/zangles#Tarieven-en-voorwaarden">Tarieven en voorwaarden</a></li>  
        </li>
      </ul>
    </li>
    
    <li><a href="/contact" class="first">Contact</a></li>
    
  </ul>
</nav>


 
</body>
</html>
