<p class="mt4">
  {{ site.data.translations['blogSignoff'][page.lang] }}<br>
  {{ site.signoff }}
  <span class="silver">{{ page.date | date: "at %H:%M" }}</span>

  {{ $vs := .Site.Params.staticman }}
  <span class='form_toggle btn'>{{ i18n "comment" }}</span>
  <form class='form form-comments' id='comments-form'>

    <!-- Start comment form display reply target -->
    <p class='reply-notice hidden'>
      <span class='reply-arrow'>↷</span>
      <span class='reply-name comment_name'></span>
    </p>
    <!-- End comment form display reply target -->

    <input name='options[slug]' type='hidden' value='{{ md5 .File.Path }}'>
    <input type='hidden' class='form_input' name='fields[replyThread]' value=''>
    <input type='hidden' class='form_input' name='fields[replyID]' value=''>
    <input type='hidden' class='form_input' name='fields[replyName]' value=''>
    {{- with $vs.reCaptcha -}}
    <input name='options[reCaptcha][siteKey]' type='hidden' value='{{ .sitekey }}'>
    <input name='options[reCaptcha][secret]' type='hidden' value='{{ .secret }}'>
    {{- end -}}

    <label class='form_label'>{{ i18n "name" }}</label>
    <input name='fields[name]' type='text' placeholder='{{ i18n "name" }}' class='form_input' required>
    <label class='form_label'>{{ i18n "email" }}</label>
    <input name='fields[email]' type='email' placeholder='{{ i18n "email" }}' class='form_input' required>
    <label class='form_label'>{{ i18n "comment" }}</label>
    <textarea name='fields[comment]' placeholder='{{ i18n "typeInComment" }}' class='form_input form_input-message'
      required></textarea>

    {{- with $vs.reCaptcha -}}
    <div class='g-recaptcha' data-sitekey='{{ .sitekey }}' data-callback='enableSubmitComment'></div>

    <script type="text/javascript">
      function enableSubmitComment() {
        document.getElementById('submitComment').disabled = false;
      }
    </script>

    <script async src='https://www.google.com/recaptcha/api.js'></script>
    {{- end -}}

    <div>
      <input type='submit' id='submitComment' value='{{ i18n "btnSubmit" }}' class='btn form_input-submit'
        {{- if $vs.reCaptcha }} disabled {{- end }}>
      <input type='reset' value='{{ i18n "btnReset" }}' class='btn form_input-reset'>
    </div>
  </form>

  <h3>Comments</h3>
  <div class='comments'>
    {{- $entryId := md5 .File.Path -}}
    {{ if .Site.Data.comments }}
    {{- $comments := index $.Site.Data.comments $entryId -}}
    {{ if not $comments }}
    <p>{{ i18n "noComment" }}</p>
    {{ else }}
    {{ range $comments }}
    {{ if not .replyThread }}
    {{ $.Scratch.Set "threadID" ._id }}
    <article id='{{ ._id }}' class='comment'>
      <img src='https://www.gravatar.com/avatar/{{ .email }}?s=100' alt='user icon' class='comment_pic'>
      <div class='comment_meta'>
        <a href='#{{ ._id }}'>
          <div class='comment_heading pale' data-time='{{ .date }}'></div>
        </a>
        <div class='comment_author comment_name'><span class='comment_name_span'>{{ .name }}</span></div>
      </div>
      <p class='solo comment_bio pale'>{{ .comment | markdownify }}</p>
      <div class='comment_threadID hidden'>{{ ._id }}</div>
      <a class='btn comment_reply-btn' href='#comments-form'>{{ i18n "replyToMsg" }}</a>
    </article>

    {{ range $comments }}
    {{ if eq .replyThread ($.Scratch.Get "threadID") }}
    <article id='{{ ._id }}' class='comment comment_reply'>
      <img src='https://www.gravatar.com/avatar/{{ .email }}?s=100' alt='user icon' class='comment_pic'>
      <div class='comment_meta'>
        <a href='#{{ ._id }}'>
          <div class='comment_heading pale' data-time='{{ .date }}'></div>
        </a>
        <div class='comment_author comment_name'><span class='comment_name_span'>{{ .name }}</span><span> ↷ </span><a
            href='#{{ .replyID }}' class='reply-target'>{{ .replyName }}</a></div>
      </div>
      <p class='solo comment_bio pale'>{{ .comment | markdownify }}</p>
      <div class='comment_threadID hidden'>{{ .replyThread }}</div>
      <a class='btn comment_reply-btn' href='#comments-form'>{{ i18n "replyToMsg" }}</a>
    </article>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ partial "comments-form.html" . }}
    <article class='modal'>
      <div class='modal_inner'>
        <h2 class='modal_title'></h2>
        <div class='modal_text'></div>
        <button class='modal_close'>{{ i18n "close" }}</button>
      </div>
    </article>
  </div>

</p>
<img src="{{ site.url }}/images/Bas_zang_logo_v6.3_alleen_vierkant_optimised.svg" alt="Bammerlaan" class="" width=50>