<p class="mt4">
  {{ site.data.translations['blogSignoff'][page.lang] }}<br>
  {{ site.signoff }}
  <span class="silver">{{ page.date | date: "at %H:%M" }}</span>

  <form method="POST" action="{{ site.staticman.api }}">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}">
    <input name="options[slug]" type="hidden" value="{{ page.lang-ref }}">
    <label>Name: <input name="fields[name]" type="text"></label><br>
    <label>Email: <input name="fields[email]" type="email"></label><br>
    <label>Message: <br><textarea name="fields[message]" rows="12" cols="36"></textarea></label><br>
    <input type="submit" value="Submit">
  </form>
  {% include comments.html %}

</p>
<img src="{{ site.url }}/images/Bas_zang_logo_v6.3_alleen_vierkant_optimised.svg" alt="Bammerlaan" class="" width=50>