@import "https://unpkg.com/tachyons/css/tachyons.min.css";

/* Set variables. (https://codeburst.io/css-variables-explained-with-5-examples-84adaffaa5bd) */
:root {
  --bammerlaan-blauw: #00b3ffff;
  --bammerlaan-grijs: #515151;
  --immix-marigold: rgb(254,174,81);
  --immix-cerulean: rgb(152,178,209);
  --immix-rust: rgb(179,95,68);
  --immix-illuminating: rgb(243,223,77);
  --immix-greenash: rgb(159,219,173);
  --immix-ultimategray: rgb(150,153,155);
  --immix-buttercream: rgb(240,227,206);
  --immix-desertmist: rgb(224,181,137);
  --immix-willow: rgb(157,145,90);
  --bg-immix-buttercream-transparent: rgba(240,227,206, .9);
}

.bammerlaan-blauw {
  color: var(--bammerlaan-blauw);
}
.bammerlaan-grijs {
  color: var(--bammerlaan-grijs);
}
.immix-marigold {
  color: var(--immix-marigold);
}
.immix-cerulean {
  color: var(--immix-cerulean);
}
.immix-rust {
  color: var(--immix-rustblauw);
}
.immix-greenash {
  color: var(--immix-greenash);
}
.immix-ultimategray {
  color: var(--immix-ultimategray);
}
.immix-buttercream {
  color: var(--immix-buttercream);
}
.immix-desertmist {
  color: var(--immix-desertmist);
}
.immix-willow {
  color: var(--immix-willow);
}

.bg-tiled-bammerlaan {
  background: url(/images/tile-bg.svg) repeat;
}
.bg-bammerlaan-blauw {
  background-color: var(--bammerlaan-blauw);
}
.bg-immix-marigold {
  background-color: var(--immix-marigold);
}
.bg-immix-cerulean {
  background-color: var(--immix-cerulean);
}
.bg-immix-rust {
  background-color: var(--immix-rust);
}
.bg-immix-greenash {
  background-color: var(--immix-greenash);
}
.bg-immix-ultimategray {
  background-color: var(--immix-ultimategray);
}
.bg-immix-buttercream {
  background-color: var(--immix-buttercream);
}
.bg-immix-desertmist {
  background-color: var(--immix-desertmist);
}
.bg-immix-willow {
  background-color: var(--immix-willow);
}

.bg-immix-buttercream-transparent {
  background-color: var(--bg-immix-buttercream-transparent);
}
.hover-bg-bammerlaan-blauw:hover {
  background-color: var(--bammerlaan-blauw);
}
.hover-bg-bammerlaan-blauw:focus {
  background-color: var(--bammerlaan-blauw);
}
.hover-bg-bammerlaan-grijs:hover {
  background-color: var(--bammerlaan-grijs);
}
.hover-bg-bammerlaan-grijs:focus {
  background-color: var(--bammerlaan-grijs);
}

.top-50 {
  top: 50%;
}
/* .link:hover {
  background: url(/images/line2.png) repeat-x left bottom;
} */

.pointers {
  pointer-events: auto;
}
.no-pointers {
  pointer-events: none;
}

caption {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h1 {
  color: var(--bammerlaan-grijs);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h2 {
  color: var(--bammerlaan-grijs);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}



th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
} /* Zebra-effect tabel. */

th {
  background-color: var(--bammerlaan-blauw);
  color: white;
} /* Tabel headers */

/* Markdown styles */
/* .markdown-body a {
  text-decoration: none;
  color: var(--bammerlaan-blauw);
} Link-kleur */

/* .markdown-body a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--bammerlaan-grijs);
  background: url(/images/line2.png) repeat-x left bottom;
} Link-mouse-over */

.markdown-body .highlighter-rouge {
  padding: 0.25rem 0.5rem;
} /* Iets voor als ik ooit code met highlights wil tonen */

.markdown-body pre {
  margin: 0;
  overflow: auto;
}

.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: 0.5rem 4rem;
  margin: 2em -4rem;
}
.markdown-body > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #ccc;
} /* <hr> tags. */
.markdown-body blockquote {
  background: var(--immix-buttercream);
  border-left: 0.2rem solid var(--immix-cerulean);
  padding-left: 3.8rem;
} /* Opmaak blockquotes. Misschien oplossing voor contact-pagina? */

/* end Markdown styles */

/*
 * Inspired partially from unreleased Tachyons v 5.0 opacity addons
*/
@media screen and (max-width: 30em) {
  .o-100-vs,
  div .o-100-vs,
  .child-vs.o-100-vs {
    opacity: 1;
  }
  .full-width-mobileview {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  } /* full-browser-width container: https://css-tricks.com/full-width-containers-limited-width-parents/ */
} /* Zorgt dat in mobiele navbar de submenu's niet onzichtbaar zijn. */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* Class to prevent selection, from https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */

.eindexamen
{
  white-space: pre;
}