@import "https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css";

/* Set variables. (https://codeburst.io/css-variables-explained-with-5-examples-84adaffaa5bd) */
:root{
    --bammerlaan-blauw: #00b3ffff;
    --bammerlaan-grijs: #515151;
}


.bg-tiled-bammerlaan { background: url(/images/tile-bg.svg) repeat; }
.bammerlaan-blauw { color: var(--bammerlaan-blauw); }
.bammerlaan-grijs { color: var(--bammerlaan-grijs); }
.top-50 { top: 50% }
.link:hover { background: url(/images/line2.png) repeat-x left bottom; }
.bg-bammerlaan-blauw { background-color: var(--bammerlaan-blauw); }
.bg-bammerlaan-grijs { background-color: var(--bammerlaan-grijs); }
.hover-bg-bammerlaan-blauw:hover { background-color: var(--bammerlaan-blauw); }
.hover-bg-bammerlaan-blauw:focus { background-color: var(--bammerlaan-blauw); }
.hover-bg-bammerlaan-grijs:hover { background-color: var(--bammerlaan-grijs); }
.hover-bg-bammerlaan-grijs:focus { background-color: var(--bammerlaan-grijs); }


h1 {
  color: var(--bammerlaan-grijs);
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

h2 {
  color: var(--bammerlaan-grijs);
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {background-color: #f2f2f2;} /* Zebra-effect tabel. */

th {
  background-color: var(--bammerlaan-blauw);
  color: white;
} /* Tabel headers */

/* Markdown styles */
.markdown-body a {
  text-decoration: none;
  color: var(--bammerlaan-blauw);
} /* Link-kleur */

.markdown-body a:hover,a:focus,a:active {
  text-decoration: none;
  color: var(--bammerlaan-grijs);
  background: url(/images/line2.png) repeat-x left bottom;
} /* Link-mouse-over */

.markdown-body .highlighter-rouge {
  padding: .25rem .5rem;
} /* Iets voor als ik ooit code met highlights wil tonen */

.markdown-body pre {
  margin: 0;
  overflow: auto;
}

.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: .5rem 4rem;
  margin: 2em -4rem;
}
.markdown-body > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #CCC;
} /* <hr> tags. */
.markdown-body blockquote {
  background: #f9f9f9;
  border-left: .2rem solid #ccc;
  padding-left: 3.8rem;
} /* Opmaak blockquotes. Misschien oplossing voor contact-pagina? */

/* end Markdown styles */

/*
 * Inspired partially from unreleased Tachyons v 5.0 opacity addons
*/
@media screen and (max-width:30em) {
.o-100-vs,
div .o-100-vs,
.child-vs.o-100-vs {
  opacity: 1;
}
