@import "https://unpkg.com/tachyons/css/tachyons.min.css";

/* Set variables. (https://codeburst.io/css-variables-explained-with-5-examples-84adaffaa5bd) */
:root {
  --bammerlaan-blauw: #00b3ffff;
  --bammerlaan-grijs: #515151;
  --immix-marigold: rgb(254,174,81);
  --immix-cerulean: rgb(152,178,209);
  --immix-rust: rgb(179,95,68);
  --immix-illuminating: rgb(243,223,77);
  --immix-greenash: rgb(159,219,173);
  --immix-ultimategray: rgb(150,153,155);
  --immix-buttercream: rgb(240,227,206);
  --immix-desertmist: rgb(224,181,137);
  --immix-willow: rgb(157,145,90);
  --bg-immix-buttercream-transparent: rgba(240,227,206, .9);
}

.bammerlaan-blauw {
  color: var(--bammerlaan-blauw);
}
.bammerlaan-grijs {
  color: var(--bammerlaan-grijs);
}
.immix-marigold {
  color: var(--immix-marigold);
}
.immix-cerulean {
  color: var(--immix-cerulean);
}
.immix-rust {
  color: var(--immix-rust);
}
.immix-illuminating {
  color: var(--immix-illuminating);
}
.immix-greenash {
  color: var(--immix-greenash);
}
.immix-ultimategray {
  color: var(--immix-ultimategray);
}
.immix-buttercream {
  color: var(--immix-buttercream);
}
.immix-desertmist {
  color: var(--immix-desertmist);
}
.immix-willow {
  color: var(--immix-willow);
}

.bg-tiled-bammerlaan {
  background: url(/images/tile-bg.svg) repeat;
}
.bg-intro-page {
background:rgba(240,227,206, .9)
}
.bg-bammerlaan-blauw {
  background-color: var(--bammerlaan-blauw);
}
.bg-immix-marigold {
  background-color: var(--immix-marigold);
}
.bg-immix-cerulean {
  background-color: var(--immix-cerulean);
}
.bg-immix-rust {
  background-color: var(--immix-rust);
}
.bg-immix-illuminating {
  background-color: var(--immix-illuminating);
}
.bg-immix-greenash {
  background-color: var(--immix-greenash);
}
.bg-immix-ultimategray {
  background-color: var(--immix-ultimategray);
}
.bg-immix-buttercream {
  background-color: var(--immix-buttercream);
}
.bg-immix-desertmist {
  background-color: var(--immix-desertmist);
}
.bg-immix-willow {
  background-color: var(--immix-willow);
}
.bg-black {
  background-color:rgba(0, 0, 0, 1)
}
.bg-white {
  background-color:rgba(255, 255, 255, 1)
}

.hover-immix-marigold:hover { color: var(--immix-marigold); }
.hover-immix-marigold:focus { color: var(--immix-marigold); }
.hover-immix-cerulean:hover { color: var(--immix-cerulean); }
.hover-immix-cerulean:focus { color: var(--immix-cerulean); }
.hover-immix-rust:hover { color: var(--immix-rust); }
.hover-immix-rust:focus { color: var(--immix-rust); }
.hover-immix-illuminating:hover { color: var(--immix-illuminating); }
.hover-immix-illuminating:focus { color: var(--immix-illuminating); }
.hover-immix-greenash:hover { color: var(--immix-greenash); }
.hover-immix-greenash:focus { color: var(--immix-greenash); }
.hover-immix-ultimategray:hover { color: var(--immix-ultimategray); }
.hover-immix-ultimategray:focus { color: var(--immix-ultimategray); }
.hover-immix-buttercream:hover { color: var(--immix-buttercream); }
.hover-immix-buttercream:focus { color: var(--immix-buttercream); }
.hover-immix-desertmist:hover { color: var(--immix-desertmist); }
.hover-immix-desertmist:focus { color: var(--immix-desertmist); }
.hover-immix-willow:hover { color: var(--immix-willow); }
.hover-immix-willow:focus { color: var(--immix-willow); }

.bg-immix-buttercream-transparent {
  background-color: var(--bg-immix-buttercream-transparent);
}
.hover-bg-bammerlaan-blauw:hover {
  background-color: var(--bammerlaan-blauw);
}
.hover-bg-bammerlaan-blauw:focus {
  background-color: var(--bammerlaan-blauw);
}
.hover-bg-bammerlaan-grijs:hover {
  background-color: var(--bammerlaan-grijs);
}
.hover-bg-bammerlaan-grijs:focus {
  background-color: var(--bammerlaan-grijs);
}

.top-50 {
  top: 50%;
}
/* .link:hover {
  background: url(/images/line2.png) repeat-x left bottom;
} */

.pointers {
  pointer-events: auto;
}
.no-pointers {
  pointer-events: none;
}

/* Font styles. See https://www.hacksoft.io/blog/using-multiple-font-files-the-right-way */

/* body {
font-family: BloggerSansRegular, sans-serif;
} */

body {
  font-family: FiraSansRegular, sans-serif;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: FiraSansRegular, sans-serif;
  font-weight: normal;
  font-style: normal;
} 

caption {
  font-family: FiraSansRegular, sans-serif;
  font-weight: 100;
}

figcaption {
  font-family: FiraSansRegular, sans-serif;
  font-weight: normal;
}

h1 {
  color: ;
  font-family: FiraSansBold, sans-serif;
  font-weight: 100;
  font-variant: small-caps;"
}

h2 {
  color: ;
  font-family: FiraSansMedium, sans-serif;
  font-weight: 200;
}

h3 {
  color: ;
  font-family: FiraSansMedium, sans-serif;
  font-weight: 300;
}

h4 {
  font-family: FiraSansMedium, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h5 {
  font-family: FiraSansRegular, sans-serif;
  font-weight: 400;
}

h6 {
  font-family: FiraSansLight, sans-serif;
  font-weight: 400;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
} /* Zebra-effect tabel. */

th {
  background-color: var(--bammerlaan-blauw);
  color: white;
} /* Tabel headers */

/* Markdown styles */
.markdown-body a {
  text-decoration: none;
  color: var(--immix-cerulean);
  font-family: FiraSansMedium, sans-serif;
} /* Link-kleur */

.markdown-body a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: var(--immix-cerulean);
  font-family: FiraSansMedium, sans-serif;
} /* Link-mouse-over */

.markdown-body .highlighter-rouge {
  padding: 0.25rem 0.5rem;
} /* Iets voor als ik ooit code met highlights wil tonen */

.markdown-body pre {
  margin: 0;
  overflow: auto;
}

.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: 0.5rem 4rem;
  margin: 2em -4rem;
}
.markdown-body > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #ccc;
} /* <hr> tags. */
.markdown-body blockquote {
  /* background: var(--immix-cerulean); */
  border-left: 0.2rem solid var(--immix-ultimategray);
  padding-left: 3.8rem;
} /* Opmaak blockquotes. Misschien oplossing voor contact-pagina? */

/* end Markdown styles */

/*
 * Inspired partially from unreleased Tachyons v 5.0 opacity addons
*/
/* @media screen and (max-width: 30em) {
  .o-100-vs,
  div .o-100-vs,
  .child-vs.o-100-vs {
    opacity: 1;
  }
  .full-width-mobileview {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  } full-browser-width container: https://css-tricks.com/full-width-containers-limited-width-parents/ */
/* } Zorgt dat in mobiele navbar de submenu's niet onzichtbaar zijn. */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* Class to prevent selection, from https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */

.eindexamen
{
  white-space: pre;
}

/* Stuff from https://github.com/dwyl/dwyl-site/blob/c80801a9024e9733273a8316cc35924f2fe39583/redesign/css/dwyl.css*/





/* from https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/ */


* {
  /* box-sizing: border-box; */
}

/* Clear native browser button styles */
.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav {
  /* background-color: rebeccapurple; */
  /* padding: 0 1rem; */
  position: sticky;
  top: 0;
  /* display: grid; */
  /* place-items: center; */
}
nav > ul {
  /* grid-auto-flow: column; */
}
nav > ul > li {
  /* margin: 0 0.5rem; */
}
nav > ul > li a,
nav > ul > li .dropdown__title {
  /* text-decoration: none; */
  /* text-align: center; */
  /* display: inline-block; */
  /* color: #fff; */
  /* font-size: 1.125rem; */
}
nav > ul > li a:focus,
nav > ul > li .dropdown__title:focus {
  outline: none;
}
nav > ul > li > a,
nav > ul > li .dropdown__title {
  /* padding: 1rem 0.5rem; */
  /* border-top: 3px solid transparent; */
  transition: 280ms all 120ms ease-out;
}
nav > ul > li > a:hover, nav > ul > li > a:focus,
nav > ul > li .dropdown__title:hover,
nav > ul > li .dropdown__title:focus {
  border-top-color: pink;
  color: pink;
}
nav ul {
  list-style: none;
  /* margin: 0; */
  /* padding: 0; */
  /* display: grid; */
}
nav ul li {
  /* padding: 0; */
}

.dropdown {
  position: relative;
}
.dropdown .dropdown__title {
  display: inline-flex;
  align-items: center;
}
.dropdown .dropdown__title:after {
  content: "";
  border: 0.35rem solid transparent;
  border-top-color: rgba(255, 255, 255, 1);
  margin-left: 0.25em;
  transform: translateY(0.15em);
}
.dropdown .dropdown__menu {
  position: absolute;
  min-width: 10ch;
  left: 50%;
  top: calc(100% - -1rem);
  transition: 280ms all 120ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  visibility: hidden;
  opacity: 0;
  padding: 0.5em 0;
  /* background-color: #fff; */
  /* border-radius: 4px; */
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 1);
}
.dropdown .dropdown__menu a {
  /* color: #47246b; */
  display: block;
  padding: 0.5em;
  opacity: 0;
  /* transition: 280ms all 120ms ease-out; */
}
.dropdown .dropdown__menu a:hover {
  /* background-color: rgba(102, 51, 153, 1); */
}
.dropdown .dropdown__menu a:focus {
  outline: none;
  /* background-color: rgba(102, 51, 153, 1); */
}
.dropdown:after {
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: calc(100% - 0rem);
  left: 50%;
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  opacity: 0;
  will-change: opacity;
}
.dropdown:hover .dropdown__title, .dropdown:focus-within .dropdown__title {
  border-top-color: pink;
}
.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}
.dropdown:hover .dropdown__menu a, .dropdown:focus-within .dropdown__menu a {
  opacity: 1;
}
.dropdown:hover:after, .dropdown:focus-within:after {
  opacity: 1;
}

/* body {
  font-family: "Baloo 2", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
} */

/* header,
footer {
  display: grid;
  place-items: center;
} */

/* header {
  background-image: url(https://images.unsplash.com/photo-1582232655383-0826ba4f1347?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  box-shadow: inset 100vw 100vh rgba(102, 51, 153, 0.6);
  min-height: 40vh;
  color: #fff;
} */

.navbar-link a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-family: FiraSansRegular, sans-serif;
  
} 

.button-text {
  text-decoration: none;
  font-family: FiraSansRegular, sans-serif;
  color: white !important;
} 

/* this part adds an icon after external links, using FontAwesome*/
a[href^="http://"]:after, a[href^="https://"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}
