{% assign is_post = page.date %}
<!doctype>
<!-- <html lang="en" class=""> -->
<html lang="en" class="debug debug-grid">

<head>
  {% if page.title %}
  <meta content='{{ page.title }} - {{ site.title }}' name='title' />
  <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <meta content='{{ site.title }}' name='title' />
  <meta content='{{ site.title }}' name='og:title' />
  <title>{{ site.title }}</title>
  {% endif %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include head.html %}
</head>


  
<!-- Logo bovenin -->

<body class="lh-copy dark-gray pa0 f6 " >
  <header class="tc">
    <!-- Language selection flags. -->
    <!-- <div class="mw8 center">
      <div class="cf">
        <div class="fl w-80 w-90-l">
          <div class="pv3"></div>
        </div>
        <div class="fl w-20 w-10-l h1">
          {% if page.layout != 'tagpage' %}
          {% if page.layout != 'index' %}
          {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
          {% if posts.size == 0 %}
          {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
          {% endif %}
          {% if posts.size > 1 %}
          <div class="lang-options f3 ">

            {% for post in posts %}
            <a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[post.lang].label }}"
              class="{{post.lang}} no-underline"
              href="{{ site.base-url }}{{ post.url }}">{{ site.data.languages[post.lang].icon }}
            </a>
            {% endfor %}
            {% endif %}
          </div>

          {% endif %}
          {% endif %}
        </div>
      </div>
    </div> -->


    <!-- Header logo -->
      <!-- <div class="mw7 bg-white mb2 center br2-ns bt bb ba-ns b--light-gray">

      {% if page.lang == 'nl' %}
      <a href="{{ site.url }}">
        {% endif %}
        {% if page.lang != 'nl' %}
        <a href="{{ site.url }}/{{ page.lang }}">
          {% endif %}
          <img src="{{ site.url }}/images/Bas_zang_logo_v6.3_white_bg_optimised.svg" alt="Home">
        </a>
    </div> -->
    <!-- <p>{{ site.title }}</p> -->
    <!-- Tekst onder logo weghalen -->
  </header>

  <!-- Begin styling van pagina-body -->
  <div class="tc w-100 mt0 mb0 center bn ">
    
    <!-- Navigatiebalk -->
      {% include navbar.html %}

    <!-- Logo of dergelijks -->  
    <!-- <div class="mb0 pb4 center bn" style="background: url(/images/bgimages/1.jpg) no-repeat center center fixed; background-size: cover;">
      
      {% if page.lang == 'nl' %}
      <a href="{{ site.url }}" class="sans-serif white f1 link tracked">
        {% endif %}
        {% if page.lang != 'nl' %}
        <a href="{{ site.url }}/{{ page.lang }}">
          {% endif %}
          Immix Vocal Ensemble
        </a>
    </div> -->

    <!-- 
        {% for link in site.links %}
          <a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
             href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
             {{ link.name }}
          </a>
        {% endfor %}
		-->

    <!-- Plaats van content op de pagina -->
    <!-- <main class="tl f6 relative pa4 pa5-ns overflow-hidden"> -->
    <!-- Oud -->
    <main class="sans-serif tl f6 relative overflow-hidden ">
      <a name="top"></a> <!-- Anchor om bovenaan de pagina te komen. -->
      {% if page.title %}
      <div class="mb4">
        {% if page.date %}<div class="fw600 light-silver mt1">{{ page.date | date_to_string }}</div>{% endif %}
        <!-- Hieronder styling van paginatitels -->
        <!-- <h1 class="ttu f3 mt0 lh-title cb mb2"> -->
        <!-- Oud -->
        <h1>
          <!-- Zonder class om gewoon h1-regel te volgen -->
          {% if is_post %}
          {% endif %}
          {{ page.title }}
        </h1>

        <!-- Add tags under title of post -->
        {% if is_post %}
        <span>[
          {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          #<a href="/tag/{{ tag_name }}"><code
              class="link bammerlaan-grijs no-underline hover-blue pv1"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
          {% endfor %}
          ]</span>
        {% endif %}

        {% if is_post and site.share %}
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"
          data-font="arial" data-action="like"></div>
        {% endif %}
      </div>
      {% endif %}
      <div class="markdown-body w-90 center">
        {{ content }}
      </div>
      {% if is_post %}{% include signoff.html %}{% endif %}
    </main>
    {% if is_post %}{% include pagination.html %}{% endif %}
  </div>
  <footer class="mw7 center tc pt3 pb4 silver">
    {{ site.data.translations['footerText'][page.lang] }}
    <img src="{{ site.url }}/images/Bas_zang_logo_v6.3_alleen_vierkant_optimised.svg"
      alt="Sebastiaan Ammerlaan — bariton" class="mt4 db center" width=50 />
  </footer>
</body>

</html>