{% assign is_post = page.date %}
<!doctype>
<html lang="en" class="">
<!-- <html lang="en" class="debug debug-grid"> -->

<head>
  {% if page.title %}
  <meta content='{{ page.title }} - {{ site.title }}' name='title' />
  <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <meta content='{{ site.title }}' name='title' />
  <meta content='{{ site.title }}' name='og:title' />
  <title>{{ site.title }}</title>
  {% endif %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include head.html %}
</head>



<!-- Logo bovenin -->

<body class="lh-copy dark-gray pa0 f6 bg-black">
  <header class="tc">

  </header>



  <!-- Begin styling van pagina-body -->
  <div class="tc w-100 mt0 mb0 center bn {{ page.bgcolour }} ">

    <!-- Achtergrondfoto neerzetten-->
    <div class="cover bg-left bg-center-l {{ page.bgphotovertsize }}" style="background-image: url({{ page.bgphoto }})">
      
      <!-- Navigatiebalk -->
      {% include navbar.html %}

      <!-- Div waar de navbar in komt, met vertical height 75 om foto ruimte te geven. -->
      <div class="dt {{ page.phototexthoralign }}" style = "height:  90%;">

        <h1 class="{{ page.phototextonoroff }} w-100 f1 f-headline-l fw2 {{ page.bgphototextcolor }} white {{ page.phototextveralign }} ">
          <!-- Ding omhoog/omlaag: style="position:relative; top:200px;" -->
          {% if is_post %}
          {% endif %}
          <!-- Tekst bovenop foto-->
          {{ page.bgphototext }}
        </h1>
      </div>

      <!-- Eind achtergrondfoto -->
    </div>

    <!-- Logo of dergelijks -->
    <!-- <div class="mb0 pb4 center bn" style="background: url(/images/bgimages/1.jpg) no-repeat center center fixed; background-size: cover;">
      
      {% if page.lang == 'nl' %}
      <a href="{{ site.url }}" class="sans-serif white f1 link tracked">
        {% endif %}
        {% if page.lang != 'nl' %}
        <a href="{{ site.url }}/{{ page.lang }}">
          {% endif %}
          Immix Vocal Ensemble
        </a>
    </div> -->

    <!-- 
        {% for link in site.links %}
          <a class="link bammerlaan-blauw hover-mid-gray mh2 pv1"
             href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
             {{ link.name }}
          </a>
        {% endfor %}
		-->

    <!-- Plaats van content op de pagina -->
    <!-- <main class="tl f6 relative pa4 pa5-ns overflow-hidden"> -->
    <!-- Oud -->
    <main class="tl f6 relative overflow-hidden ">
      <a name="top"></a> <!-- Anchor om bovenaan de pagina te komen. -->

      {% if page.title %}
      <div class="mb4">
        {% if page.date %}<div class="fw600 light-silver mt1">{{ page.date | date_to_string }}</div>{% endif %}

        <!-- Uncomment onderstaande voor titel per pagina-->
        <!-- <h1>
          {% if is_post %}
          {% endif %}
          {{ page.title }}
        </h1> -->

        <!-- Add tags under title of post -->
        {% if is_post %}
        <span>[
          {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          #<a href="/tag/{{ tag_name }}"><code
              class="link bammerlaan-grijs no-underline hover-blue pv1"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
          {% endfor %}
          ]</span>
        {% endif %}

        {% if is_post and site.share %}
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"
          data-font="arial" data-action="like"></div>
        {% endif %}
      </div>
      {% endif %}
      <div class="markdown-body w-90 center">
        {{ content }}
      </div>
      {% if is_post %}{% include signoff.html %}{% endif %}
    </main>
    {% if is_post %}{% include pagination.html %}{% endif %}
  </div>

{% include footer.html %}

</body>

</html>