{% assign is_post = page.date %}
<!doctype>
<html class="debug debug-grid" lang="en">

<head>
    {% if page.title %}
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
    <meta content='{{ site.title }}' name='title' />
    <meta content='{{ site.title }}' name='og:title' />
    <title>{{ site.title }}</title>
    {% endif %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
</head>



<header class="sans-serif ">
    <div class="cover bg-left bg-center-l" style="background-image: url(/images/Aeson/nnknxt_g003_2.jpg)">
        <div class="bg-black-10 pb5 pb6-m pb7-l">
        <nav class="dt w-100 mw8 center"> 
            <div class="dtc w2 v-mid pa3">
            <a href="/" class="dib w2 h2 pa1 ba b--white-90 grow-large border-box">
                <svg class="link white-90 hover-white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor"><title>skull icon</title><path d="M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12"></path></svg>
            </a>
            </div>
            <div class="dtc v-mid tr pa3">
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/" >How it Works</a> 
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/" >Pricing</a> 
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/" >About</a> 
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/" >Careers</a> 
            <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="/" >Sign Up</a> 
            </div>
        </nav> 
        <div class="tc-l mt4 mt5-m mt6-l ph3">
            <h1 class="f1 tracked b f1-l fw2 white-90 mb0 lh-title">{{ page.title }}</h1>
        </div>
        </div>
    </div> 
    </header>
    

<!-- Logo bovenin -->

<body class="lh-copy pa0 f6 bg-immix-buttercream" style="font-family: 'Roboto', sans-serif;">


    <!-- Begin styling van pagina-body -->
    <div class="w-90 bg-immix-buttercream mt0 mb0 nb center">
       
        <!-- Plaats van content op de pagina -->

        <main class="w-90 tl f6 relative pa0 ph1 overflow-hidden bt b--light-gray">
            <a name="top"></a> <!-- Anchor om bovenaan de pagina te komen. -->
            {% if page.title %}
            <div class="mb4">
                {% if page.date %}<div class="fw600 light-silver mt1">{{ page.date | date_to_string }}</div>{% endif %}
                <!-- Hieronder styling van paginatitels -->
                <!-- <h1 class="ttu f3 mt0 lh-title cb mb2"> -->
                <!-- Oud -->
                <h1 class="normal">
                    <!-- Zonder class om gewoon h1-regel te volgen -->
                    {% if is_post %}
                    {% endif %}
                    {{ page.title }}
                </h1>

                <!-- Add tags under title of post -->
                {% if is_post %}
                <span>[
                    {% for tag in page.tags %}
                    {% capture tag_name %}{{ tag }}{% endcapture %}
                    #<a href="/tag/{{ tag_name }}"><code
                            class="link bammerlaan-grijs no-underline hover-blue pv1"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
                    {% endfor %}
                    ]</span>
                {% endif %}

                {% if is_post and site.share %}
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="100"
                    data-show-faces="false" data-font="arial" data-action="like"></div>
                {% endif %}
            </div>
            {% endif %}
            <div class="markdown-body">
                {{ content }}
            </div>
            {% if is_post %}{% include signoff.html %}{% endif %}
        </main>
        {% if is_post %}{% include pagination.html %}{% endif %}
    </div>
    <footer class="mw7 center tc pt3 pb4 silver">
        
        <a href="https://www.bammerlaan.nl"><img src="{{ site.url }}/images/Bas_zang_logo_v6.3_alleen_vierkant_optimised.svg" alt="Sebastiaan Ammerlaan — bariton" class="mt4 db center grow" width=50 /></a>
    </footer>
</body>

</html>